<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <base href="/">
  <link rel="stylesheet" href="error.handlebars.css">
  <title>Document</title>
</head>

<body>
  <section class="error-login">
    <h2>Wrong email or password. </h2>
    <button onclick="location.href='/views'">Try Again</button>
  </section>
</body>

</html>