<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <base href="/">
  <link rel="stylesheet" href="error.handlebars.css">
  <title>Document</title>
</head>

<body>
  <main class="error-login">

  <h2>User already exists</h2>
  <button onclick="location.href='/views/register'">Try Again</button>
  </main>
</body>

</html>