<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <base href="/">
  <link rel="stylesheet" href="profile.css">
  <title>Document</title>
</head>
<body>
  <h2>Profile</h2>
  <h3>Successfully logged in.</h3>
  <button onclick="location.href='/views'">Logout</button>
</body>
</html>